annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
h11
idna
joblib
numpy
pandas
pydantic
pydantic_core
python-dateutil
pytz
requests
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
urllib3
uvicorn
pyarrow
