annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
h11
idna
joblib
numpy
pandas
pydantic
pydantic-core==2.10.1
python-dateutil
pytz
requests
scikit-learn
scipy
six
sniffio
threadpoolctl
typing_extensions
tzdata
urllib3
uvicorn
pyarrow
starlette<0.28.0
